.cart_item {
    border: solid yellow 2px;
    background-color: yellow;
    color: black;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
}

.search_bar {
    border: solid salmon 2px;
    background-color: salmon;
}

.search_result {
    border: solid cyan 2px;
    background-color: cyan;
    color: black;
}