.navbar {
    display: flex;
}

.login {
    border: 2px solid blueviolet;
}

.cart_item {
    border: solid yellow 2px;
    background-color: yellow;
    color: black;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
    position: relative;
}

.cart_item button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    height: 40px;
    background-color: gray;
    color: black;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.search_bar {
    border: solid salmon 2px;
    background-color: salmon;
}

.search_result {
    border: solid cyan 2px;
    background-color: cyan;
    color: black;
}

ul {
    list-style-type: none;
}