#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.app_wrapper {
  display: flex;
  flex-direction: column;
  border: solid green 2px;
  padding: 20px;
}

.inner_wrapper {
  display: flex;
  flex-direction: row;
  
}

.result_cart_wrapper {
  border: solid gray 2px;
  background-color: gray;
}

div {
  padding: 20px;
}
